.train-selection__container {
  width: 100%;
  padding-top: 95px;       
  box-sizing: border-box;

  max-width: 100%;
  padding-left: 259px;       
  display: flex;             
  flex-direction: row;
  gap: 40px;                
  align-items: flex-start;
}

.train-selection__main {
  flex-grow: 1;             
  box-sizing: border-box;

  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.train-selection__topbar {
  display: flex;
  align-items: center;
  width: 100%;
  
  margin-bottom: 47px; 
}

.train-selection__controls {
  display: flex;
  gap: 50px; /* Расстояние между блоком сортировки и лимитом */
  align-items: center;
}

.train-selection__count {
  color: #928F94;
  font-size: 18px;
  font-weight: 400;
  margin-right: 363px;
}

.train-selection__sort {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}

.train-selection__sort-label {
  color: #928F94;
  font-size: 18px;
  font-family: var(--font-main);
}

.train-selection__sort-trigger {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  font-family: var(--font-main);
  transition: color 0.2s ease;
}

.train-selection__sort-trigger:hover {
  color: var(--color-primary-orange);
}

.train-selection__sort-options {
  position: absolute;
  top: 100%;
  left: 105px; 
  background-color: var(--color-primary-text-white);
  border: 1px solid #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 10;
  min-width: 130px;
  margin-top: 6px;
}

.train-selection__sort-options .train-selection__sort-btn {
  text-align: left;
  padding: 6px 12px;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #928f94;
  font-family: var(--font-main);
  transition: all 0.2s ease;
}

.train-selection__sort-options .train-selection__sort-btn:hover {
  color: var(--color-primary-orange);
  background-color: #f9f9f9;
}

.train-selection__sort-options .train-selection__sort-btn--active {
  font-weight: bold;
  color: var(--color-primary-text-dark); 
}

/* Контейнер лимита */
.train-selection__limit {
  display: flex;
  align-items: center;
  gap: 5px; /* Отступ между цифрами */
}

.train-selection__limit-label {
  color: #928F94;
  font-size: 18px;
  font-family: var(--font-main);
}

.train-selection__limit-btn {
  background: none;
  border: none;
  color: #928f94; 
  font-size: 18px;
  cursor: pointer;
  padding: 0 4px;
  font-family: var(--font-main);
  transition: color 0.2s ease;
}

.train-selection__limit-btn:hover {
  color: var(--color-primary-orange);
}

.train-selection__limit-btn--active {
  font-weight: bold;
  color: var(--color-primary-text-dark);
}

/* ==========================================================================
СТИЛИ ДЛЯ КАРТОЧЕК С ПОЕЗДАМИ
   ========================================================================== */

.train-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 960px; 
  height: 354px;
  box-sizing: border-box;
  overflow: hidden;

}

.train-selection__list {
  display: flex;
  flex-direction: column;
  gap: 47px; 
  width: 100%;
}

/* ЛЕВАЯ СЕКЦИЯ КАРТОЧКИ */
.train-card__info {
  width: 197px; 
  height: 100%;
  background-color: #E4E0E9; 
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  box-sizing: border-box;
}

.train-card__icon-box {
  width: 80px;
  height: 80px;
  border: 2px solid #FFFFFF; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
}

.train-card__icon-img {
  width: 44px;
  height: auto;
}

/* Номер поезда */
.train-card__number {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #3E3C41;
  margin: 0 0 15px 0;
}

.train-card__route-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px; 
}

.train-card__route-summary {
  width: 160px;
  height: 58px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  align-items: flex-start;
  box-sizing: border-box;
}

.train-card__summary-city {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-primary-text-dark);
  text-align: left;
}

.train-card__summary-city--highlight {
  color: #928F94;
}

/* ЦЕНТРАЛЬНАЯ СЕКЦИЯ КАРТОЧКИ */
.train-card__route-details {
  flex-grow: 1;
  padding-top: 54px;
  padding-left: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.train-card__route--forward {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 63px;
}

.train-card__route--backward {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.train-card__route .train-card__time-block:first-child {
  width: 150px; 
  display: flex;
  flex-direction: column;
}

.train-card__route .train-card__time-block:last-child {
  display: flex;
  flex-direction: column;
  margin-left: 50px; 
}

.train-card__time {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-primary-text-dark);
}

.train-card__city {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary-text-dark);
  margin-top: 5px;
}

.train-card__station {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: #928F94;
  margin-top: 3px;
}

.train-card__duration-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.train-card__duration-time {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #C4C4C4; 
  margin-bottom: 4px;
}

.train-card__arrow-img {
  width: 30px;
  height: 20px;
  opacity: 1;
}

.train-card__pricing {
  padding: 41px 24px 24px 27px;
  border-left: 1px dashed #E5E5E5; 
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.train-card__seats-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px; 
}

.train-card__seat-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.train-card__seat-type {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3E3C41;
  width: 80px;
  text-align: left;
}

.train-card__seat-count {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-primary-orange);
  margin-left: 17px;
  width: 30px;
  text-align: left;
}

.train-card__seat-price {
  flex-grow: 1;
  text-align: right;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  color: #928F94;
}

.train-card__price-num {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2D2B2F; 
  margin-left: 6px;
}

.train-card__currency {
  font-family: var(--font-main);
  font-weight: 400; 
  font-size: 20px;
  color: #928F94;
}

.train-card__pricing-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  margin-top: auto;
}

.train-card__features {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.train-card__features-img {
  height: 20px;
  width: auto;
}

/* СТИЛИЗАЦИЯ ОРАНЖЕВОЙ КНОПКИ */
.train-card__btn {
  background-color: #FFA500; 
  color: var(--color-primary-text-white);
  border: none;
  width: 100%;
  padding: 8px 0;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  text-align: center;
}

.train-card__btn:hover {
  background-color: #FF8C00;
}

.train-card__btn:active {
  background-color: #CC7000;
  transform: scale(0.98);
}

/* ==========================================================================
СТИЛИ ДЛЯ НОМЕРОВ СТРАНИЦ
   ========================================================================== */

.train-selection__pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 564px; 
  height: 75px; 
  margin-top: 142px; 
  margin-bottom: 120px; 

  margin-left: 500px;
  box-sizing: border-box;
  
}

.train-selection__page-num,
.train-selection__page-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px; 
  height: 75px;
  background-color: transparent;
  border: 1px solid #C4C4C4; 
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 24px;
  color: #928F94; 
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease;
  padding: 0;
}

.train-selection__page-num:hover,
.train-selection__page-arrow:hover {
  color: var(--color-primary-orange);
  border-color: var(--color-primary-orange);
}

.train-selection__page-arrow:active {
  transform: scale(0.95);
}

.train-selection__page-num--active {
  background-color: var(--color-primary-orange);
  border-color: var(--color-primary-orange);
  color: var(--color-primary-text-white);
}

.train-selection__page-arrow-img {
  width: 16px; 
  height: auto;
  display: block;
}




